<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="compress.js"></script>


    <!-- PWA -->
    <link rel="manifest" href="manifest.json" />



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="media/favicon/favicon.ico" type="image/x-icon">
    <!-- UTILISATION DE LA LIBRAIRIE LODASH JUSTE POUR TRIER UN TABLEAU ??? -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <title>Mes anniversaires</title>
</head>

<body>
    <h1 id="title" v-on:click="reverseMessage" class="h1 text-center"><strong>{{ message}}</strong></h1>
    <main id="peoplelist" class="container-fluid m-0 p-0 d-flex flex-column align-items-center">
        <!-- Button trigger modal ajout anniversaire -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addBirthday">
            Ajouter un anniversaire
        </button>

        <!-- ////////////////////////////////////////////AFFICHAGE LISTE///////////////////////////////////////////////////////////////////////////-->

        <section class="container">
            <div class="p-0 d-flex flex-column">
                <div v-for="item, index in peopleOrdered" :key="index" id="personList"
                    class="d-flex flex-nowrap justify-content-between align-content-center card" data-bs-toggle="modal"
                    data-bs-target="#profileModal" v-bind:data-bs-whatever="item.id" v-on:click="selectPeople(item.id)">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img :src="item.photo" class="img-fluid rounded-top" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p class="card-text">
                                <div>{{ item.age}} ans</div>
                                <div>Né le {{ item.birth }}</div>
                                </p>
                                <p class="card-text"><small class="text-muted">{{ item.countdownMessage }}</small></p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!-- ////////////////////////////////////////////MODAL AJOUT ANNIVERSAIRE//////////////////////////////////////////////////////////////-->


        <div class="modal fade" id="addBirthday" tabindex="-1" aria-labelledby="addBirthdayLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addBirthdayLabel">Ajouter un anniversaire</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="addPeopleCardBody">
                        <blockquote class="blockquote mb-0">

                            <form v-on:submit.prevent="addNewBirthday" action="" class="d-flex flex-column ">
                                <label for="nom">Nom</label>
                                <input v-model="insertname" type="text" name="name" placeholder="nom">
                                <label for="birth">Date de naissance</label>
                                <input v-model="insertbirth" type="date" name="birth" placeholder="Date de naissance">
                                <label for="photo">Photo</label>
                                <input type="file" @change="convertImg" class="custom-input" accept="image/*">
                                <!-- <input v-model="insertphoto" v-on:change type="file" name="photo" accept="image/png, image/jpeg"> -->
                                <!-- <input v-model="insertphoto" type="text" name="photo"
                                    placeholder="Insérez l'url de l'image"> -->
                            </form>
                        </blockquote>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="pushPeople" class="btn btn-primary" data-bs-dismiss="modal">Ajouter</button>
                        <button class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- ////////////////////////////////////////////AFFICHAGE PROFIL/////////////////////////////////////////////////////////////////////////// ᓚᘏᗢ un petit chat -->


        <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" v-for="dude in selected">
                    <div class="modal-header">
                        <h5 class="modal-title" id="profileModalLabel">{{dude.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0 d-flex flex-column justify-content-center">
                        <img :src="dude.photo" class="img-fluid " style="max-height:500px; object-fit:cover;" />
                        <div class="d-flex">
                            <div>
                                <div>{{ dude.age}} ans</div>
                                <div>Né le {{ dude.birth }}</div>
                            </div>
                        </div>
                        <div class="decompte">{{ dude.daysLeft }}</div>
                        <hr>
                        <form v-on:submit.prevent="addgift">
                            <h4>Cadeaux Offerts et à offrir</h4>
                            <label for="insertGifDate">Année du cadeau</label>
                            <select v-model="insertGiftDate" name="insertGiftDate">
                                <option v-for="year in years" :value="year">{{year}}</option>
                            </select>
                            <label for="insertGif"></label>
                            <input v-model="insertGift" type="text" name="insertGift"
                                placeholder="Un cadeau passé ou à venir">
                            <button type="button" class="btn btn-primary"
                                v-on:click="giftToPeople(dude.indexLink)">Enregistrer le cadeau</button>
                        </form>
                        <table class="table table-striped">
                            <tr v-for="(gift, key) in gifts">
                                <td><button class="btn" v-on:click="deleteGift(key)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                                        </svg>
                                    </button></td>
                                <td>{{gift.gift}}</td>
                                <td>{{ gift.giftDate}}</td>
                            </tr>

                        </table>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" v-on:click="deletePeople(dude.indexLink)"
                            data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                            </svg> Supprimer</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                    </div>
                </div>
            </div>
        </div>






    </main>


    <script>

        var peoplelist = new Vue({

            el: '#peoplelist',

            data: {
                insertname: "",
                insertbirth: "",
                insertphoto: "",
                insertGift: "",
                insertGiftDate: "",
                currentYear: "",
                years: [],
                gifts: [],
                people: [{
                    "id": 1,
                    "name": "Predator",
                    "birth": "jeudi 23/04/1987",
                    "photo": "https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Yautja_del_primer_film%2C_conocida_como_Jungle_Hunter_2014-04-15_12-18.jpg/420px-Yautja_del_primer_film%2C_conocida_como_Jungle_Hunter_2014-04-15_12-18.jpg",
                    "birthRaw": "1987-04-23T00:00:00.000Z",
                    "age": 35,
                    "countdown": "",
                    "gifts": [{
                        "gift": "aspirateur",
                        "giftDate": "2019",
                    },
                    {
                        "gift": "casque avec visière",
                        "giftDate": "2018",
                    },
                    {
                        "gift": "Detonateur",
                        "giftDate": "2020",
                    }],
                }, {
                    "id": 2,
                    "name": "Freddy Krueger",
                    "birth": "mercredi 02/09/1942",
                    "photo": "https://cdn-www.konbini.com/fr/files/2020/09/freddy_krueger.jpg?ratio=16:9&w=640",
                    "birthRaw": "1942-09-02T00:00:00.000Z",
                    "age": 79,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],
                }, {
                    "id": 3,
                    "name": "T- 800 Terminator",
                    "birth": "vendredi 29/08/1997",
                    "photo": "https://fr.nemesisnow.com/media/catalog/product/cache/7c3262bc18147ce5dc018ae87bc5e673/n/o/now0948.jpg",
                    "birthRaw": "1997-08-29T00:00:00.000Z",
                    "age": 24,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],
                }, {
                    "id": 4,
                    "name": "Alexander « Alex » James Murphy",
                    "birth": "jeudi 02/07/1987",
                    "photo": "https://file1.telestar.fr/var/telestar/storage/images/3/0/6/0/3060253/peter-weller-dans-robocop.jpg?alias=exact1024x768_l&size=x100&format=webp",
                    "birthRaw": "1987-07-02T00:00:00.000Z",
                    "age": 34,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],

                }],
                selected: [],

            },
            computed: {
                peopleOrdered: function () {
                    return _.orderBy(this.people, 'countdown')
                }
            },


            beforeMount() {
                let theTime = new Date()
                this.currentYear = theTime.getFullYear();
                // console.log("année", this.currentYear)
                for (let i = this.currentYear; i > 1900; i--) {
                    this.years.push(i);
                }
            },

            mounted() {
                if (localStorage.getItem('peoplestored')) {
                    try {
                        this.people = JSON.parse(localStorage.getItem('peoplestored'));
                    } catch (e) {
                        localStorage.removeItem('peoplestored');
                    }
                }
                // this.people.forEach(element => console.log("chargement des gens", element.name))


                //////////////////////////calcul jours/mois
                var now = new Date();
                var currentYear = now.getFullYear()
                nowMD = (now.getMonth() + 1) + '' + now.getDate();
                // console.log("nowMD", nowMD)


                for (i = 0; i < this.people.length; i++) {
                    birthRaw = new Date(this.people[i].birthRaw)
                    let birthRawNow = new Date(this.people[i].birthRaw)
                    birthRaw.setFullYear(currentYear)
                    // let birthday = birthRaw.getDate() + '\/' + (birthRaw.getMonth() + 1)

                    let countdown = Math.ceil((birthRaw - now) / 1000 / 60 / 60 / 24)
                    var countdownMessage = ""
                    if (countdown === 0) {
                        countdownMessage = "C'est son anniversaire!"
                    }
                    else if (countdown > 0) {
                        countdownMessage = "Dans " + countdown + " jours"
                    }
                    else {
                        countdown = 365 - countdown
                        countdownMessage = "Dans " + countdown + " jours"
                    }
                    this.people[i].countdownMessage = countdownMessage
                    this.people[i].countdown = countdown

                    // console.log("--------------------", countdownMessage)
                    // console.log("--------------------", countdown)
                    // console.log("--------------------", birthday)



                }
            },
            methods: {
                convertImg: function (event) {
                    const compress = new Compress()
                    // let file = event.target.files[0];


                        const files = [event.target.files[0]]
                        compress.compress(files, {
                            size: 4, // the max size in MB, defaults to 2MB
                            quality: 0.75, // the quality of the image, max is 1,
                            maxWidth: 1920, // the max width of the output image, defaults to 1920px
                            maxHeight: 1920, // the max height of the output image, defaults to 1920px
                            resize: true, // defaults to true, set false if you do not want to resize the image width and height
                            rotate: true // Enables rotation, defaults to false
                        }).then((data) => {
                            this.insertphoto = data[0].prefix + data[0].data
                            // returns an array of compressed images
                            console.log(data[0].prefix + data[0].data)
                        })
                    





                    // let file = event.target.files[0];
                    // const reader = new FileReader();
                    // reader.readAsDataURL(file);
                    // reader.onload = (file) => {
                    //     this.insertphoto = reader.result;
                    // }
                    // reader.onerror = function (error) {
                    //     console.log('Error: ', error);
                    // };


                },
                pushPeople: function () {
                    //formattage de la date
                    let dob = new Date(this.insertbirth);
                    var options = {
                        weekday: "long",
                        day: "2-digit",
                        month: "2-digit",
                        year: "numeric"
                    };
                    let birthRaw = new Date(this.insertbirth)

                    let birthProc = Date.parse(birthRaw)
                    let age = Date.now() - birthRaw
                    age = Math.round(age / (1000 * 60 * 60 * 24 * 365))
                    console.log("birthraw:", birthRaw, " age:", age)
                    dob = dob.toLocaleString("fr-FR", options)







                    // photo64 = btoa(this.insertphoto) ///////BASE64 ENCODAGE, DOIT ETRE EN FILE PAS EN TEXT///////////
                    //fin formattage de la date
                    if (this.insertphoto === "") {
                        let alea = Math.floor(Math.random() * 10000 + 1)
                        photo = "https://loremflickr.com/300/300?lock=" + alea

                    } else {
                        photo = this.insertphoto
                    }

                    this.people.push({
                        id: Date.now(),
                        name: this.insertname,
                        birth: dob,
                        photo: photo,
                        birthRaw: birthRaw,
                        age: age,
                        gifts: [],
                        index: this.people.length
                    });
                    this.savePeople();
                    this.insertphoto = "";
                    this.insertbirth = "";
                    this.insertname = "";
                },
                deletePeople: function (idValue) {
                    this.people.splice(idValue[0], 1);
                    console.log("indexLink", idValue[0])
                    this.savePeople();;
                },
                savePeople: function () {
                    const parsed = JSON.stringify(this.people)
                    localStorage.setItem('peoplestored', parsed)
                },

                selectPeople: function (id) {
                    let idvalue = this.people.findIndex(people => people.id === id)
                    this.selected = [];
                    this.gifts = [];

                    this.selected.push({
                        indexLink: [idvalue],
                        id: this.people[idvalue].id,
                        name: this.people[idvalue].name,
                        birth: this.people[idvalue].birth,
                        photo: this.people[idvalue].photo,
                        birthRaw: this.people[idvalue].birthRaw,
                        age: this.people[idvalue].age,
                    });
                    for (i = 0; i < this.people[idvalue].gifts.length; i++) {
                        // console.log("selected=>", this.people[idvalue].name)
                        // console.log("selected=>", this.people[idvalue].gifts[i].gift)
                        // console.log("selected=>", this.people[idvalue].gifts[i].giftDate)
                        if (this.people[idvalue].gifts.length > 0 && this.people[idvalue].gifts.giftDate !== "") {
                            this.gifts.push({
                                gift: this.people[idvalue].gifts[i].gift,
                                giftDate: this.people[idvalue].gifts[i].giftDate,
                            })
                        }

                    }
                },

                giftToPeople: function (idvalue) {
                    index = idvalue[0]
                    console.log(index)

                    for (i = 0; i < this.people[index].gifts.length; i++) {
                        // console.log("cadeaux debut", this.people[index].gifts[i].gift)
                    }

                    this.people[index].gifts.push({
                        gift: this.insertGift,
                        giftDate: this.insertGiftDate,
                    });
                    this.gifts.push({
                        gift: this.insertGift,
                        giftDate: this.insertGiftDate,
                    });

                    for (i = 0; i < this.people[index].gifts.length; i++) {
                        // console.log("cadeaux après pour ", this.people[index].name, ' ', this.people[index].gifts[i].gift)
                    }
                    this.savePeople();
                    this.insertGift = "";
                    this.insertGiftDate = "";

                },

                deleteGift: function (key) {
                    let selected = this.selected[0].indexLink[0]
                    this.people[selected].gifts.splice(key, 1)
                    this.gifts.splice(key, 1)
                }
            }

        })


































        //la blague Vue.js
        var title = new Vue({
            el: '#title',
            data: {
                message: 'Mes anniversaires'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('');
                }
            }
        });
        // fin de la blague Vue.js
    </script>
    <!--//////////////////////////////// SCRIPT BOOTSTRAP ///////////////:////////////////////-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <!--//////////////////////////////// SCRIPT BOOTSTRAP ////////////////////////////////////-->
    <!--//////////////////////////////// SERVICE WORKER //////////////////////////////////////-->
    <script>
        window.addEventListener('load', function () {
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register('sw.js')
            }
        })
    </script>
    <!--//////////////////////////////// SERVICE WORKER //////////////////////////////////////-->

</body>

</html>

<style>
    .giftlist {
        border: 1px solid black;
        list-style-type: none;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #personList:hover {
        transition: 0.8s;
    }

    #personList:hover {
        background-color: rgb(228, 245, 229);

    }

    #personList:nth-child(even) {
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20) inset;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20) inset;
    }
</style>