<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="media/favicon/favicon.ico" type="image/x-icon">
    <!-- UTILISATION DE LA LIBRAIRIE LODASH JUSTE POUR TRIER UN TABLEAU ??? -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link rel="manifest" href="manifest.json">


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <title>Oh vue! J'l'avais pas vu!</title>
</head>

<body>
    <h1 id="title" v-on:click="reverseMessage" class="h1 text-center"><strong>{{ message}}</strong></h1>

    <main id="peoplelist" class="container-fluid m-0 p-0 d-flex flex-column align-items-center">
        
        <div>
            <button class="btn btn-outline-dark">Nom</button>
            <button class="btn btn-outline-dark">Age</button>
            <button class="btn btn-outline-dark">Anniversaire</button>
            <button class="btn btn-outline-dark">Jours restants</button>
        </div>
        <!-- Button trigger modal ajout anniversaire -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addBirthday">
            Ajouter un anniversaire
        </button>

        <!-- ////////////////////////////////////////////AFFICHAGE LISTE///////////////////////////////////////////////////////////////////////////-->

        <section>
            <ul class="p-0 d-flex flex-column">
                <div v-for="item, index in peopleOrdered" :key="index" id="personList">
                    <li class="d-flex flex-nowrap justify-content-between my-2 p-2" :id="item.id" data-bs-toggle="modal"
                        data-bs-target="#profileModal" v-bind:data-bs-whatever="item.id"
                        v-on:click="selectPeople(index)">
                        <img :src="item.photo" class="rounded-circle " style="height: 75px; width: 75px;" />
                        <div class="d-flex">
                            <div id="identity">
                                <h4>{{ item.name }}</h4>
                                <div>{{ item.age}} ans</div>
                                <div>Né le {{ item.birth }}</div>
                            </div>
                        </div>
                        <hr>
                        <div class="decompte">{{ item.countdownMessage }}</div>
                    </li>
                </div>
            </ul>
        </section>
                <!-- ////////////////////////////////////////////MODAL AJOUT ANNIVERSAIRE///////////////////////////////////////////////////////////////////////////-->

             
            <div class="modal fade" id="addBirthday" tabindex="-1" aria-labelledby="addBirthdayLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addBirthdayLabel">Ajouter un anniversaire</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="addPeopleCardBody">
                            <blockquote class="blockquote mb-0">

                                <form v-on:submit.prevent="addNewBirthday" action="" class="d-flex flex-column ">
                                    <label for="nom">Nom</label>
                                    <input v-model="insertname" type="text" name="name" placeholder="nom">
                                    <label for="birth">Date de naissance</label>
                                    <input v-model="insertbirth" type="date" name="birth"
                                        placeholder="Date de naissance">
                                    <label for="photo">Photo</label>
                                    <!-- <input v-model="insertphoto" v-on:change type="file" name="photo" accept="image/png, image/jpeg"> -->
                                    <input v-model="insertphoto" type="text" name="photo"
                                        placeholder="Insérez l'url de l'image">
                                </form>
                            </blockquote>
                        </div>
                        <div class="modal-footer">
                            <button v-on:click="pushPeople" class="btn btn-primary" data-bs-dismiss="modal">Ajouter</button>
                            <button class="btn btn-light" v-on:click="RemainingDays"
                                data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
     


        <!-- ////////////////////////////////////////////AFFICHAGE PROFIL/////////////////////////////////////////////////////////////////////////// ᓚᘏᗢ un petit chat -->


        <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" v-for="dude in selected">
                    <div class="modal-header">
                        <h5 class="modal-title" id="profileModalLabel">{{dude.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0 d-flex flex-column justify-content-center">
                        <img :src="dude.photo" class="img-fluid" style="max-height:500px; object-fit:cover;" />
                        <div class="d-flex">
                            <div>
                                <div>{{ dude.age}} ans</div>
                                <div>Fête son anniversaire le {{ dude.birth }}</div>
                            </div>
                        </div>
                        <div class="decompte">{{ dude.daysLeft }}</div>
                        <hr>
                        <div></div>
                        <form v-on:submit.prevent="addgift">
                            <h2>Cadeaux Offerts et à offrir</h2>
                            <label for="insertGifDate">Année du cadeau</label>
                            <select v-model="insertGiftDate" name="insertGiftDate" />
                            <option v-for="year in years" :value="year">{{year}}</option>
                            </select>
                            <label for="insertGif"></label>
                            <input v-model="insertGift" type="text" name="insertGift"
                                placeholder="Un cadeau passé ou à venir">
                        </form>
                        <table>
                            <tr v-for="(gift, key) in gifts">
                                <td><button class="btn" v-on:click="deleteGift(key)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                                        </svg>
                                    </button></td>
                                <td>{{gift.gift}}</td>
                                <td>{{ gift.giftDate}}</td>
                            </tr>

                        </table>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" v-on:click="deletePeople(dude.indexLink)"
                            data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                            </svg> Supprimer</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary"
                            v-on:click="giftToPeople(dude.indexLink)">Enregistrer le cadeau</button>
                    </div>
                </div>
            </div>
        </div>






    </main>


    <script>

        var peoplelist = new Vue({

            el: '#peoplelist',

            data: {
                insertname: "",
                insertbirth: "",
                insertphoto: "",
                insertGift: "",
                insertGiftDate: "",
                currentYear: "",
                years: [],
                gifts: [],
                people: [{
                    "id": 1639652282611,
                    "name": "Predator",
                    "birth": "jeudi 23/04/1987",
                    "photo": "https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Yautja_del_primer_film%2C_conocida_como_Jungle_Hunter_2014-04-15_12-18.jpg/420px-Yautja_del_primer_film%2C_conocida_como_Jungle_Hunter_2014-04-15_12-18.jpg",
                    "birthRaw": "1987-04-23T00:00:00.000Z",
                    "age": 35,
                    "countdown": "",
                    "gifts": [{
                        "gift": "aspirateur",
                        "giftDate": "2019",
                    },
                    {
                        "gift": "casque avec visière",
                        "giftDate": "2018",
                    },
                    {
                        "gift": "Detonateur",
                        "giftDate": "2020",
                    }],
                }, {
                    "id": 1639652349061,
                    "name": "Freddy Krueger",
                    "birth": "mercredi 02/09/1942",
                    "photo": "https://cdn-www.konbini.com/fr/files/2020/09/freddy_krueger.jpg?ratio=16:9&w=640",
                    "birthRaw": "1942-09-02T00:00:00.000Z",
                    "age": 79,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],
                }, {
                    "id": 1639652469881,
                    "name": "T- 800 Terminator",
                    "birth": "vendredi 29/08/1997",
                    "photo": "https://fr.nemesisnow.com/media/catalog/product/cache/7c3262bc18147ce5dc018ae87bc5e673/n/o/now0948.jpg",
                    "birthRaw": "1997-08-29T00:00:00.000Z",
                    "age": 24,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],
                }, {
                    "id": 1639652544660,
                    "name": "Alexander « Alex » James Murphy",
                    "birth": "jeudi 02/07/1987",
                    "photo": "https://file1.telestar.fr/var/telestar/storage/images/3/0/6/0/3060253/peter-weller-dans-robocop.jpg?alias=exact1024x768_l&size=x100&format=webp",
                    "birthRaw": "1987-07-02T00:00:00.000Z",
                    "age": 34,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],
                }, {
                    "id": 1639653264803,
                    "name": "Alien",
                    "birth": "samedi 09/06/1979",
                    "photo": "https://www.kingdom-figurine.fr/wp-content/uploads/2021/04/THE-ALIEN-BLOODY-FIGURINE-ALIEN-40TH-ANNIVERSARY-SERIE-2-NECA-18-CM-6344824000148-kingdom-figurine.fr_0.jpg",
                    "birthRaw": "[native Date Sat Jun 09 1979 02:00:00 GMT+0200 (heure d’été d’Europe centrale)]",
                    "age": 43,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],
                }, {
                    "id": 1639657796269,
                    "name": "Patrick Verschueren",
                    "birth": "mercredi 12/09/1962",
                    "photo": "https://www.kuleuven.be/wieiswie/en/person/00004770/photo",
                    "birthRaw": "[native Date Wed Sep 12 1962 01:00:00 GMT+0100 (heure normale d’Europe centrale)]",
                    "age": 59,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],
                }, {
                    "id": 1639657862745,
                    "name": "Miranda Merron",
                    "birth": "mercredi 02/07/1969",
                    "photo": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Bobostudio_MIRANDA_MERRON_sur_Campagne_de_France_%2815608046026%29.jpg/420px-Bobostudio_MIRANDA_MERRON_sur_Campagne_de_France_%2815608046026%29.jpg",
                    "birthRaw": "[native Date Wed Jul 02 1969 01:00:00 GMT+0100 (heure normale d’Europe centrale)]",
                    "age": 52,
                    "countdown": "",
                    "gifts": [{

                    }],
                }, {
                    "id": 1639657988742,
                    "name": "Paul Bocuse",
                    "birth": "jeudi 11/02/1926",
                    "photo": "https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Paul_Bocuse_2007_-2.jpg/390px-Paul_Bocuse_2007_-2.jpg",
                    "birthRaw": "[native Date Thu Feb 11 1926 00:00:00 GMT+0000 (heure normale d’Europe centrale)]",
                    "age": 96,
                    "countdown": "",
                    "gifts": [{
                        "gift": "Hotte assourdissante",
                        "giftDate": "1987",
                    }],
                }],
                selected: [],
                
            },
            computed: {
                peopleOrdered: function (){
                    return _.orderBy(this.people, 'countdown')
                }
            },

            
            beforeMount() {





                let theTime = new Date()
                this.currentYear = theTime.getFullYear();
                console.log("année", this.currentYear)
                for (let i = this.currentYear; i > 1900; i--) {
                    this.years.push(i);
                }


            },

            mounted() {
                if (localStorage.getItem('peoplestored')) {
                    try {
                        this.people = JSON.parse(localStorage.getItem('peoplestored'));
                    } catch (e) {
                        localStorage.removeItem('peoplestored');
                    }
                }
                this.people.forEach(element => console.log("chargement des gens", element.name))
                    
                



                //////////////////////////calcul jours/mois
                var now = new Date();
                var currentYear = now.getFullYear()
                nowMD = (now.getMonth() + 1) + '' + now.getDate();
                console.log("nowMD", nowMD)


                for (i = 0; i < this.people.length; i++) {
                    console.log("nom", this.people[i].name)
                    console.log("avant chargement", this.people[i].birthRaw)
                    birthRaw = new Date(this.people[i].birthRaw)
                    let birthRawNow = new Date(this.people[i].birthRaw)
                    console.log("-_-_-_-_-_-_-_-date brute avant", birthRaw)                    
                    birthRaw.setFullYear(currentYear)
                    console.log("-_-_-_-_-_-_-_-date brute après", birthRaw)

                    let birthday = birthRaw.getDate() + '\/' + (birthRaw.getMonth()+1)

                    let countdown = Math.round((birthRaw - now) / 1000 / 60 / 60 / 24)
                    var countdownMessage = ""
                    if (countdown === 0){
                         countdownMessage = "C'est son anniversaire!"


                    }
                    else if (countdown > 0){
                        countdownMessage = "Dans " + countdown + " jours"
                    }
                    else {
                        countdown = 365 - countdown
                    countdownMessage = "Dans " + countdown + " jours"
                    
                     }
                    this.people[i].countdownMessage = countdownMessage
                    this.people[i].countdown = countdown
                    ////////////////////EN COURS DE MARDI 4 JANVIER ////////////////////////////

                   
                    
 
                    console.log("--------------------", countdownMessage)
                    console.log("--------------------", countdown)
                    console.log("--------------------", birthday)
                   



                    // let dob = person.birthRaw;
                    // console.log(dob);
                    // doeb = (dob.getMonth()+1)+''+dob.getDate();
                    // let days = person.daysLeft;
                    // console.log(now);
                    // console.log("dob", dob);

                    // console.log("coucou", nowMD);                  

                }
            },
            methods: {
                pushPeople: function () {
                    //formattage de la date
                    let dob = new Date(this.insertbirth);
                    var options = {
                        weekday: "long",
                        day: "2-digit",
                        month: "2-digit",
                        year: "numeric"
                    };
                    let birthRaw = new Date(this.insertbirth)

                    let birthProc = Date.parse(birthRaw)
                    let age = Date.now() - birthRaw
                    age = Math.round(age / (1000 * 60 * 60 * 24 * 365))
                    console.log("birthraw:", birthRaw, " age:", age)
                    dob = dob.toLocaleString("fr-FR", options)

                    // let birthday = birthRaw.getDate() + '\/' + (birthRaw.getMonth()+1);
                    //////////////////////////////ENCOURS AU DESSUs ET EN DESSOUS///////////////////////////////////////////////////////////////////
                    // let countdown = ''
                    //                     console.log ("--------------------", birthday)

                    // photo = btoa(this.insertphoto) ///////BASE64 ENCODAGE, DOIT ETRE EN FILE PAS EN TEXT///////////
                    //fin formattage de la date
                    photo = this.insertphoto
                    this.people.push({
                        id: Date.now(),
                        name: this.insertname,
                        birth: dob,
                        photo: photo,
                        birthRaw: birthRaw,
                        age: age,
                        gifts: [],
                    });
                    this.savePeople();

                },
                deletePeople: function (idValue) {
                    this.people.splice(idValue[0], 1);
                    console.log("indexLink", idValue[0])
                    this.savePeople();;
                },
                savePeople: function () {
                    const parsed = JSON.stringify(this.people)
                    localStorage.setItem('peoplestored', parsed)
                },
                ///////////////////////////////////////////////////////////////////////////////////////////////////////////
                /////////////////////////////A VOIR POUR LES JOURS AVANT ANNIVERSAIRE /////////////////////////////////////
                ///////////////////////////////////////////////////////////////////////////////////////////////////////////


                RemainingDays: function () {
                    console.log("en cours")
                    //                     for ( const [key,person] of Object.entries( this.people ) ) {
                    //                         let dob = person.birthRaw

                    //                         let today = new Date()
                    //                         today = today.toDateString()
                    //                         let remDays = today - dob
                    //                         console.log("RemainingDays", typeof today)
                    //                         console.log(key, person.name)
                    //                         console.log(remDays)
                    // }
                },
                ///////////////////////////////////////////////////////////////////////////////////////////////////////////
                /////////////////////////////A VOIR POUR LES JOURS AVANT ANNIVERSAIRE /////////////////////////////////////
                ///////////////////////////////////////////////////////////////////////////////////////////////////////////


                selectPeople: function (idvalue) {
                    this.selected = [];
                    this.gifts = [];
                    // console.log("debut", this.selected)

                    // let select = this.people.find(element => element = idvalue);
                    // console.log(select)
                    // console.log("avant", this.selected)
                    this.selected.push({
                        indexLink: [idvalue],
                        id: this.people[idvalue].id,
                        name: this.people[idvalue].name,
                        birth: this.people[idvalue].birth,
                        photo: this.people[idvalue].photo,
                        birthRaw: this.people[idvalue].birthRaw,
                        age: this.people[idvalue].age,

                    });
                    for (i = 0; i < this.people[idvalue].gifts.length; i++) {
                        console.log("selected=>", this.people[idvalue].name)
                        console.log("selected=>", this.people[idvalue].gifts[i].gift)
                        console.log("selected=>", this.people[idvalue].gifts[i].giftDate)
                        if (this.people[idvalue].gifts.length > 0 && this.people[idvalue].gifts.giftDate !== "") {
                            this.gifts.push({
                                gift: this.people[idvalue].gifts[i].gift,
                                giftDate: this.people[idvalue].gifts[i].giftDate,
                            })
                        }

                    }
                    // this.selected.push({
                    //     id: select.id,
                    //     name: select.name,
                    //     birth: select.birth,
                    //     photo: select.photo,
                    //     birthRaw: select.birthRaw, 
                    //     age: select.age,
                    // });
                    // console.log("apres", this.selected)
                },

                giftToPeople: function (idvalue) {
                    index = idvalue[0]
                    console.log(index)

                    for (i = 0; i < this.people[index].gifts.length; i++) {
                        console.log("cadeaux debut", this.people[index].gifts[i].gift)
                    }
                    // let select = this.people.find(element => element = idvalue);
                    // console.log(select)

                    this.people[index].gifts.push({
                        gift: this.insertGift,
                        giftDate: this.insertGiftDate,
                    });
                    this.gifts.push({
                        gift: this.insertGift,
                        giftDate: this.insertGiftDate,
                    });
                    // this.selected.push({
                    //     id: select.id,
                    //     name: select.name,
                    //     birth: select.birth,
                    //     photo: select.photo,
                    //     birthRaw: select.birthRaw, 
                    //     age: select.age,
                    // });
                    for (i = 0; i < this.people[index].gifts.length; i++) {
                        console.log("cadeaux après pour ", this.people[index].name, ' ', this.people[index].gifts[i].gift)
                    }
                    ////////////////////////////////////EN COURS REMISE A ZERO ///////////////////////////////////
                    insertGift = "";
                    insertGiftDate = "";
                    ////////////////////////////////////FIN EN COURS REMISE A ZERO ///////////////////////////////////

                },
                deleteGift: function (key) {
                    let selected = this.selected[0].indexLink[0]
                    console.log("deleeeeeeeeeeeeeeeeeeeeeeeeeeeeeete =>", key, "indexlink", selected)
                    this.people[selected].gifts.splice(key, 1)
                    this.gifts.splice(key, 1)
                }
            }

        })


































        //la blague Vue.js
        var title = new Vue({
            el: '#title',
            data: {
                message: 'Mes anniversaires'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('');
                }
            }
        });
        // fin la blague Vue.js






        /////////////////////////////////////// SERVICE WORKER ////////////////////////////////////
        function registerServiceWorker() {
            // enregistre le script sw avec les navigateurs qui le gèrent
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('sw.js', { scope: '/' }).then(() => {
                    console.log('Service Worker enregistré correctement.');
                }).catch(error => {
                    console.log("Erreur lors de l'enregistrement du Service Worker : ", error);
                });
            }
        }
/////////////////////////////////////// SERVICE WORKER ////////////////////////////////////
    </script>

    <!--//////////////////////////////// SCRIPT BOOTSTRAP //////////////////////////////////////-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <!--//////////////////////////////// SCRIPT BOOTSTRAP //////////////////////////////////////-->

</body>

</html>


<style>
    ul {
        margin: 0;
        padding: 0;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20) inset;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20) inset;
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20) inset;
        /* background-color: rgb(240, 240, 240); */
    }

    .giftlist {
        border: 1px solid black;
        list-style-type: none;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    /*-------------------------------------- EN COURS -----------------------------------------------------------------*/
    /*-------------------------------------- EN COURS -----------------------------------------------------------------*/
    /*-------------------------------------- EN COURS -----------------------------------------------------------------*/
    /*-------------------------------------- EN COURS -----------------------------------------------------------------*/
    .ulgiftlist:nth-child(even) {}

    .giftlist:first-child {}

    .giftlist:last-child {}

    /*-------------------------------------- EN COURS -----------------------------------------------------------------*/
    /*-------------------------------------- EN COURS -----------------------------------------------------------------*/
    /*-------------------------------------- EN COURS -----------------------------------------------------------------*/
    /*-------------------------------------- EN COURS -----------------------------------------------------------------*/
    #addPeopleCard {}

    #addPeopleCardBody {}

    #personList:hover {
        background-color: rgb(245, 245, 228);
        /* border: gainsboro 1px solid; */
    }

    #personList:nth-child(even) {
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20) inset;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20) inset;
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20) inset;
        /* background-color: rgb(240, 240, 240); */
    }
</style>